.n-1-4765 {
  width: 543px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  padding: 25px 10px;
  margin: 0 auto;
  border-right: 1px solid var(--c---ba-0-0-0-0-08-);
  border-left: 1px solid var(--c---ba-0-0-0-0-08-);
  overflow: hidden;
}

.n-2-24 {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--c-ffffff);
  border-radius: 10px;
}

.n-I2-24-2-13 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-24-2-14 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-24-2-6 {
  height: 177px;
  align-self: stretch;
  flex-shrink: 0;
  background-color: var(--c-ffffff);
  background-image: url(../../assets/images/image-I2-24;2-6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.n-I2-24-3-118 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 10px;
}

.n-I2-24-15-386 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: var(--c---ba-0-0-0-0-05-);
  border-radius: 10px;
  overflow: hidden;
}

.n-I2-24-15-386-15-296 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-24-3-367 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--c---ba-255-0-0-0-1-);
  border-radius: 100px;
}

.n-I2-24-3-367-3-362 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-24-3-367-3-362-2477-6440 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-24-3-367-3-362-2477-6441 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-24-3-367-3-362-2477-6442 {
  position: absolute;
  top: 4.6px;
  left: 3.5px;
  z-index: 1;
  width: 17.1px;
  height: 15.6px;
  border: 2px solid var(--c-ff0000);
}

.n-I2-24-3-393 {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background-color: var(--c---ba-255-204-0-0-1-);
  border-radius: 100px;
}

.n-I2-24-3-393-3-362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-24-3-393-3-428 {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.n-I2-24-3-393-3-428-2477-6352 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-24-3-393-3-428-2477-6353 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-24-3-393-3-428-2477-6354 {
  position: absolute;
  top: 3px;
  left: 6px;
  z-index: 1;
  width: 12px;
  height: 18px;
  border: 2px solid var(--c-ffcc00);
}

.n-2-42 {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--c-ffffff);
  border-radius: 10px;
}

.n-I2-42-2-13 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-42-2-14 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-42-3-118 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 10px;
}

.n-I2-42-15-386 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: var(--c---ba-0-0-0-0-05-);
  border-radius: 10px;
  overflow: hidden;
}

.n-I2-42-15-386-15-296 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-42-3-367 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--c---ba-255-0-0-0-1-);
  border-radius: 100px;
}

.n-I2-42-3-367-3-362 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-42-3-367-3-362-2477-6440 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-42-3-367-3-362-2477-6441 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-42-3-367-3-362-2477-6442 {
  position: absolute;
  top: 4.6px;
  left: 3.5px;
  z-index: 1;
  width: 17.1px;
  height: 15.6px;
  border: 2px solid var(--c-ff0000);
}

.n-I2-42-3-393 {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background-color: var(--c---ba-255-204-0-0-1-);
  border-radius: 100px;
}

.n-I2-42-3-393-3-362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-42-3-393-3-428 {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.n-I2-42-3-393-3-428-2477-6352 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-42-3-393-3-428-2477-6353 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-42-3-393-3-428-2477-6354 {
  position: absolute;
  top: 3px;
  left: 6px;
  z-index: 1;
  width: 12px;
  height: 18px;
  border: 2px solid var(--c-ffcc00);
}

.n-3-507 {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--c-ffffff);
  border-radius: 10px;
}

.n-I3-507-2-13 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I3-507-2-14 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I3-507-3-118 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 10px;
}

.n-I3-507-15-386 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: var(--c---ba-0-0-0-0-05-);
  border-radius: 10px;
  overflow: hidden;
}

.n-I3-507-15-386-15-296 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I3-507-3-367 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--c---ba-255-0-0-0-1-);
  border-radius: 100px;
}

.n-I3-507-3-367-3-362 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I3-507-3-367-3-362-2477-6440 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I3-507-3-367-3-362-2477-6441 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I3-507-3-367-3-362-2477-6442 {
  position: absolute;
  top: 4.6px;
  left: 3.5px;
  z-index: 1;
  width: 17.1px;
  height: 15.6px;
  border: 2px solid var(--c-ff0000);
}

.n-I3-507-3-393 {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background-color: var(--c---ba-255-204-0-0-1-);
  border-radius: 100px;
}

.n-I3-507-3-393-3-362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I3-507-3-393-3-428 {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.n-I3-507-3-393-3-428-2477-6352 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I3-507-3-393-3-428-2477-6353 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I3-507-3-393-3-428-2477-6354 {
  position: absolute;
  top: 3px;
  left: 6px;
  z-index: 1;
  width: 12px;
  height: 18px;
  border: 2px solid var(--c-ffcc00);
}

.n-2-48 {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--c-ffffff);
  border-radius: 10px;
}

.n-I2-48-2-13 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-48-2-6 {
  height: 177px;
  align-self: stretch;
  flex-shrink: 0;
  background-color: var(--c-ffffff);
  background-image: url(../../assets/images/image-I2-48;2-6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.n-I2-48-2-68 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-48-3-118 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 10px;
}

.n-I2-48-15-386 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: var(--c---ba-0-0-0-0-05-);
  border-radius: 10px;
  overflow: hidden;
}

.n-I2-48-15-386-15-296 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c-000000);
}

.n-I2-48-3-367 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--c---ba-255-0-0-0-1-);
  border-radius: 100px;
}

.n-I2-48-3-367-3-362 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-48-3-367-3-362-2477-6440 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-48-3-367-3-362-2477-6441 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-48-3-367-3-362-2477-6442 {
  position: absolute;
  top: 4.6px;
  left: 3.5px;
  z-index: 1;
  width: 17.1px;
  height: 15.6px;
  border: 2px solid var(--c-ff0000);
}

.n-I2-48-3-393 {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background-color: var(--c---ba-255-204-0-0-1-);
  border-radius: 100px;
}

.n-I2-48-3-393-3-362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
}

.n-I2-48-3-393-3-428 {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.n-I2-48-3-393-3-428-2477-6352 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I2-48-3-393-3-428-2477-6353 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I2-48-3-393-3-428-2477-6354 {
  position: absolute;
  top: 3px;
  left: 6px;
  z-index: 1;
  width: 12px;
  height: 18px;
  border: 2px solid var(--c-ffcc00);
}

