.n-1-4767 {
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 25px 10px;
  margin: 0 auto;
  overflow: hidden;
}

.n-3-619 {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-3-620 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-3-621 {
  height: auto;
  align-self: stretch;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-3-622 {
  width: 326.5px;
  height: 0;
  flex-shrink: 0;
  border: 1px solid var(--c---ba-0-0-0-0-1-);
}

.n-6-630 {
  height: 780px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 15px;
}

.n-6-646 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-646-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-646-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-646-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-646-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-646-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-646-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-654 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-654-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-654-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-654-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-654-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-654-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-654-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-662 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-662-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-662-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-662-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-662-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-662-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-662-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-670 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-670-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-670-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-670-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-670-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-670-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-670-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-678 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-678-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-678-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-678-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-678-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-678-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-678-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-686 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-686-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-686-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-686-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-686-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-686-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-686-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-694 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-694-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-694-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-694-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-694-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-694-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-694-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-702 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-702-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-702-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-702-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-702-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-702-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-702-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-710 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-710-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-710-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-710-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-710-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-710-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-710-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-718 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-718-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-718-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-718-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-718-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-718-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-718-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

.n-6-726 {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.n-I6-726-6-643 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px;
  background-color: var(--c-ffffff);
  border-radius: 5px;
}

.n-I6-726-6-638 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.n-I6-726-6-638-2477-6362 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
}

.n-I6-726-6-638-2477-6363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.n-I6-726-6-638-2477-6364 {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
  width: 20px;
  height: 14px;
  border: 2px solid var(--c-000000);
}

.n-I6-726-6-631 {
  width: 357px;
  height: auto;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.22;
  white-space: pre-line;
  color: var(--c---ba-0-0-0-0-8-);
}

